{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {%csrf_token%}
        <label>username:</label>
        <input type=" text" value="username"  name="username"placeholder="Enter Username">
        <label> password</label>
        <input type="password" value="password" name="password" placeholder="Enter the password">
        <input type="submit" value="Login">
    </form>
    <p> haven't signed up yet</p>
    <a href="{% url 'register' %}"> Sign UP</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>Already having an account</p>
    <a href="{% url 'login' %}"> Login</a>
</div>
{% endif %}

{% endblock %}